html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 16px default font size x 62.5 = 10px = 1rem */
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root {
  height: 100%;
  --clr-primary: rgb(2, 111, 157);
  --clr-primary-100: rgb(2, 90, 128);
  --clr-secondary: #c87c2c;
  --clr-gray: #dad9d9;
  --clr-offwhite: rgb(237, 241, 255);
  --clr-boxshadow: rgba(113, 112, 112, 0.667);

}

/* Layout */

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: var(--clr-primary);
  padding: 1rem 0;
  /* height: 40px; */
}

main {
  grid-area: main;
  margin-top: 4rem;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: var(--clr-primary);
  color: white;

}

/* common */
h1 {
  font-size: 1rem;
  padding: 1rem 0;

}

h2 {
  font-size: 1.6rem;
  padding: .5rem 0;
}


a {
  text-decoration: none;
}

a:hover {
  color: var(--clr-secondary);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

button,
select,
textarea,
input {
  padding: 1rem;
  border-radius: .5rem;
  border: 0.1rem var(--clr-gray) solid;
  font-size: 1.6rem;
  font-family: Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

button {
  background-color: var(--clr-gray);
  cursor: pointer;
}

button:hover,
select:hover,
textarea:hover,
input:hover {
  border: .1rem --clr-boxshadow solid;
}

button.primary {
  background-color: var(--clr-secondary);
}

button.block {
  width: 100%;
}

button.small {
  font-size: 1.2rem;
}

/* Header */
header a {
  color: white;
  margin: 0 .5rem;
}

.canoe {
  width: 25px;
}

a.brand {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  margin: auto .2rem;
}

.badge {
  background-color: var(--clr-gray);
  color: var(--clr-primary);
  border-radius: 50%;
  padding: .2rem .8rem;
  margin: .5rem;
  font-size: 1.6rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 .5rem;
}

.row.center {
  justify-content: center;

}

.row.top {
  align-items: flex-start;

}

.row.start {
  justify-content: flex-start;

}

.navTop-row {
  display: flex;
}

.navList {
  font-size: 1.2rem;
  height: 3rem;
  margin: 0.5rem auto 0 auto;
  justify-content: left;
  background-color: var(--clr-primary-100);
}

/* Search */

.search button {
  border-radius: 0 .5rem .5rem 0;
  border-right: none;
  height: 23.5px;
  width: 2rem;
  border: none;
  /* margin-right: .5rem; */
}

.search input {
  border-radius: .5rem 0 0 .5rem;
  border-right: none;
  max-width: 20vw;
  height: 0.1875rem;

}

.fa-search {
  font-size: 1.6rem;
  position: absolute;
  margin: -10px 0 0 -7px;
}


.active {
  font-weight: bold;
}

/* Carousel */
.carousel .slide img {
  max-width: 50vw !important;
}

.carousel {
  max-width: 50vw !important;
  margin: 0 auto !important;
  box-shadow: 2px 2px 10px .5px var(--clr-boxshadow);
  border-radius: 1rem;
}

.carousel .slide .legend {
  width: 60% !important;
  height: 20% !important;
  background: #1281a9ae !important;
  box-shadow: 1px 3px 5px .5px var(--clr-boxshadow);
  color: rgb(9, 9, 9) !important;
  top: 0 !important;
  margin: 1rem auto !important;
  left: 20% !important;
  font-size: clamp(.5rem, 3vw, 3rem) !important;
  /* font-size: 0.625rem !important; */
  font-weight: bold;

}

/* Aside */

aside {
  position: fixed;
  width: 40vw;
  height: 100%;
  background-color: var(--clr-gray);
  z-index: 100;
  transform: translateX(-30rem);
  transition: all .5s;
}

aside.open {
  transform: translate(0)
}

aside.open a {
  color: var(--clr-primary);
}

aside.open a:hover {
  color: var(--clr-secondary);
}

button.open-sidebar {
  font-size: 1.4rem;
  padding: .2rem .5rem;
  margin: 0 .5rem;
  background-color: none;
  color: white;
  cursor: pointer;
  background-color: var(--clr-secondary);
  border: none;
  box-shadow: 2px 2px 5px .5px rgba(255, 255, 255, 0.2);
  ;
}

button.open-sidebar:hover {
  background-color: white;
  color: var(--clr-secondary);
}

aside ul {
  padding: 0;
  list-style: none;
}

aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

button.close-sidebar {
  padding: .3rem .8rem;
}

/* images */
img {
  border-radius: .5rem;
}

.col-1 {
  flex: 1 1 10rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.col-3 {
  flex: 3 1 75rem;
}

.min-30 {
  min-width: 30rem;
}

.pad-1 {
  padding: 1rem;
}

/* Images */
img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium {
  max-width: 15rem;
  width: 100%;
  height: 12rem;
  display: block;
  margin: 0 auto;
  /* height: 100%; */
}

img.large {
  max-width: 70rem;
  width: 100%;

}

/* card */
.card {
  /* width: 25vw; */
  background-color: #f2f2f2;
  box-shadow: 2px 2px 5px 1px rgb(195, 195, 195);
  border-radius: .5rem;
  margin: 1rem;


}

.card-body {
  padding: .5rem;
}

/* .card-body>* {
  margin-bottom: .5rem;
} */

.card h2 {
  font-size: 1rem;

}

.card a {
  font-size: 1rem;
  color: rgb(2, 111, 157)
}


.price {
  font-size: 1.5rem;
}

/* rating */
.rating span {
  font-size: clamp(.5rem, 2vw, 1.6rem);
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #545454;
}

/* Alert */
.loading {
  display: block !important;
}

.success {
  color: #20a020;
}

.error {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: .1rem solid transpartent;
  border-radius: .5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #e0d4d4;
}

.alert-success {
  color: #20a020;
  background-color: #d4ead2;
}

/* Form */

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form>div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;

}

.form input {
  background-color: #e0e4ea;
}

/* #Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 10;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #404040;
  margin: 0.4rem 0 0 0;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Checkout Steps */
.checkout-steps>div {
  border-top: .3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps>div.active {
  border-top-color: rgb(179, 99, 24);
  color: rgb(179, 99, 24);
}

/* Table */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #e4eaef;
}

.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: .5rem;
}

.table button {
  margin: 0.02rem;
}




/* Maps */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: .5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}

.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}

.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

/* Pagination */

.pagination a {
  padding: 1rem;
  margin: .5rem;
  border-radius: .5rem;
  border: 0.1rem #dad9d9 solid;
  font-size: 1.6rem;
  font-family: Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dashboard */

.summary>li {
  border: .1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: .5rem;
  flex: 1 1 20rem;
}

.summary-title {
  font-size: 2rem;
  padding: 1rem;
}

.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;

}

.summary-title.color1 {
  background-color: #e3c8c8;
}

.summary-title.color2 {
  background-color: #c4e1c4;
}

.summary-title.color3 {
  background-color: #bdbdda;
}

/* ========================================= */
/* ========================================= */
/* ========================================= */
/* ========================================= */
/* ========================================= */
/* ========================================= */
/* ========================================= */
/* ========================================= */
/* ========================================= */
/* ========================================= */

@media (max-width: 900px) and (min-width: 500px) {
  .search input {
    width: 40vw;
    max-width: 800px;
  }
}

@media (min-width: 900px) {
  main {
    margin-top: 8rem;
  }

  /* common */
  h1 {
    font-size: 1.6rem;
    padding: 1rem 0;

  }

  h2 {
    font-size: 2rem;
    padding: .5rem 0;
  }

  /* Header */
  header {
    height: 60px;
  }

  header a {
    padding: .5rem;
  }

  .cart {
    margin-right: 1rem;
    font-size: 3rem;
  }

  .canoe {
    width: 50px;
  }

  a.brand {
    font-size: clamp(2rem, 3vw, 4rem);
    margin: auto .2rem;
  }

  .badge {
    padding: 0rem 1rem;
    font-size: 2.5rem;
  }

  .navList {
    font-size: 2rem;
    height: 4.5rem;
  }

  /* Search */
  .search button {
    height: 40px;
    width: 4rem;
  }

  .search input {
    height: 100%;
    width: 45vw;
    max-width: 900px;
  }

  .fa-search {
    font-size: 2rem;
    margin: -11px 0 0 -10px;
  }

  /* Carousel */

  .carousel .slide img {
    width: 50vw;
    max-width: 40rem !important;
  }

  .carousel {
    width: 50vw !important;
    max-width: 40rem !important;
  }

  .carousel .slide .legend {
    width: 60% !important;
    height: 5rem !important;
    top: 0 !important;
    left: 20% !important;
    font-size: 22px !important;
    font-weight: bold;


  }

  /* Aside */

  aside {
    width: 30rem;
    transform: translateX(-30rem);
    transition: all .5s;
  }

  aside.open {
    transform: translate(0)
  }

  button.open-sidebar {
    font-size: 2.6rem;

  }

  button.close-sidebar {
    padding: .5rem 1rem;
  }


  /* Images */
  img.small {
    max-width: 5rem;
  }

  img.medium {
    max-width: 40rem;
    height: 30vh;
    max-height: 25rem;
  }

  img.large {
    max-width: 70rem;
  }

  /* card */
  .card {
    max-width: 20vw;
    width: 100%;
  }

  .card h2 {
    font-size: clamp(1rem, 1.5vw, 2rem);
  }

  .card a {
    font-size: clamp(1rem, 1.5vw, 1.6rem)
  }

  .card-body {
    padding: 1.5rem;
  }

  .price {
    font-size: clamp(1rem, 1.5vw, 2.5rem)
  }

  /* rating */
  .rating span {
    color: #f0c040;
    margin: 0.1rem;

  }

  .rating span:last-child {
    color: #545454;
  }


  /* Form */

  .form {
    max-width: 60rem;
    margin: 0 auto;
  }

  .form>div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  .form label {
    margin: 1rem 0;

  }

  .form input {
    background-color: #e0e4ea;
  }

  /* #Dropdown */

  .dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown-content {
    position: absolute;
    display: none;
    right: 10;
    min-width: 12rem;
    padding: 1rem;
    z-index: 1;
    background-color: #404040;
    margin: 0;
    margin-top: 0.4rem;
    border-radius: 0.5rem;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Checkout Steps */
  .checkout-steps>div {
    border-top: .3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1;
    padding: 1rem;
    font-weight: bold;
  }

  .checkout-steps>div.active {
    border-top-color: rgb(179, 99, 24);
    color: rgb(179, 99, 24);
  }

  /* Table */

  .table {
    width: 100%;
    border-collapse: collapse;
  }

  .table tbody tr:nth-of-type(odd) {
    background-color: #e4eaef;
  }

  .table td,
  .table th {
    text-align: left;
    border: 0.1rem solid #e4e4e4;
    padding: .5rem;
  }

  .table button {
    margin: 0.02rem;
  }




  /* Maps */
  .full-container {
    margin: -1rem;
    height: calc(100% + 2rem);
  }

  .map-input-box {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: .5rem auto;
    width: 25rem;
    height: 4rem;
    display: flex;
  }

  .map-input-box input {
    border-radius: 1rem 0 0 1rem;
    border-right: 0;
  }

  .map-input-box button {
    border-radius: 0 1rem 1rem 0;
    border-left: 0;
  }

  /* Pagination */

  .pagination a {
    padding: 1rem;
    margin: .5rem;
    border-radius: .5rem;
    border: 0.1rem #dad9d9 solid;
    font-size: 1.6rem;
    font-family: Helvetica,
      Arial,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Dashboard */

  .summary>li {
    border: .1rem #c0c0c0 solid;
    margin: 2rem;
    border-radius: .5rem;
    flex: 1 1 20rem;
  }

  .summary-title {
    font-size: 2rem;
    padding: 1rem;
  }

  .summary-body {
    font-size: 4rem;
    padding: 1rem;
    text-align: center;

  }

  .summary-title.color1 {
    background-color: #e3c8c8;
  }

  .summary-title.color2 {
    background-color: #c4e1c4;
  }

  .summary-title.color3 {
    background-color: #bdbdda;
  }
}