html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 16px default font size x 62.5 = 10px = 1rem */
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  --clr-primary: rgb(2, 111, 157);
  --clr-primary-100: rgb(2, 90, 128);
  --clr-secondary: #c87c2c;
  --clr-gray: #dad9d9;
  --clr-offwhite: rgb(237, 241, 255);
  --clr-boxshadow: rgba(113, 112, 112, 0.667);

}

/* Layout */

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: var(--clr-primary);
  padding: 1rem 0;
  /* height: 40px; */
}

main {
  grid-area: main;
  margin-top: 2.5rem;
  padding: 1.5rem;
  background-color: var(--clr-offwhite);
}

footer {
  grid-area: footer;
  background-color: var(--clr-primary);
  color: white;

}

/* common */
h1 {
  font-size: clamp(1.4rem, 3vw, 3rem) !important;
  padding: 1rem 0;
  margin: 0;

}

h2 {
  font-size: clamp(1.2rem, 2vw, 2rem) !important;
  padding: .5rem 0;
}


a {
  text-decoration: none;

}

a:hover {
  color: var(--clr-secondary);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
  font-size: clamp(1.2rem, 2vw, 2rem) !important;
}

button,
select,
textarea,
input {
  padding: 1rem;
  border-radius: .5rem;
  border: 0.1rem var(--clr-gray) solid;
  font-size: 1.6rem;
  font-family: Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

button {
  background-color: var(--clr-gray);
  cursor: pointer;
}

button:hover,
select:hover,
textarea:hover,
input:hover {
  border: .1rem rgb(69, 69, 69) solid;
}

button.primary {
  background-color: var(--clr-secondary);

}

button.block {
  width: 100%;

}

button.small {
  font-size: 1.2rem;
}

/* Header */
header a {
  color: white;
  margin: 0 .5rem;
}

.canoe {
  width: 25px;
}

a.brand {
  color: white;
  font-size: clamp(2rem, 2vw, 6rem);
  font-weight: bold;
  display: block;
  margin: auto .2rem;
}

.badge {
  background-color: var(--clr-gray);
  color: var(--clr-primary);
  border-radius: 50%;
  padding: .2rem .8rem;
  margin: .5rem;
  font-size: 1.6rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
  flex-direction: column;


}

.row.top {
  align-items: flex-start;

}

.row.start {
  justify-content: flex-start;

}

.navTop-row {
  display: flex;
}

.navList {
  font-size: 1.2rem;
  height: 3rem;
  margin: 0 auto;
  justify-content: left;
  background-color: var(--clr-primary-100);
}

/* Search */

.search button {
  border-radius: 0 .5rem .5rem 0;
  border-right: none;
  height: clamp(2rem, 5rem, 2.95rem);
  width: clamp(3rem, 10rem, 3rem);
  border: none;
  margin-bottom: 5px;

}

.search input {
  border-radius: .5rem 0 0 .5rem;
  border-right: none;
  max-width: 20vw;
  height: clamp(.75rem, .2rem, 3rem);
  margin-bottom: 5px;

}

.fa-search {
  font-size: 1.6rem;
  position: absolute;
  margin: -10px 0 0 -7px;
}


.active {
  font-weight: bold;
}

/* Carousel */
.carousel .slide img {
  width: 60vw !important;
  max-width: 45rem !important;
  height: clamp(20rem, 30vh, 50rem);

}

.carousel {
  width: 60vw !important;
  max-width: 45rem !important;
  margin: 0 auto !important;
  box-shadow: 2px 2px 10px .5px var(--clr-boxshadow);
  border-radius: 1rem;

}

.carousel .slide .legend {
  width: 60% !important;
  height: 30% !important;
  background: #1281a9ae !important;
  box-shadow: 1px 3px 5px .5px var(--clr-boxshadow);
  color: rgb(9, 9, 9) !important;
  top: 0 !important;
  margin: 1rem auto !important;
  left: 20% !important;
  font-size: clamp(.5rem, 3vw, 3rem) !important;
  /* font-size: 0.625rem !important; */
  font-weight: bold;

}

/* Aside */

aside {
  position: fixed;
  width: 40vw;
  height: 100%;
  background-color: var(--clr-gray);
  z-index: 100;
  transform: translateX(-30rem);
  transition: all .5s;
}

aside.open {
  transform: translate(0)
}

aside.open a {
  color: var(--clr-primary);
}

aside.open a:hover {
  color: var(--clr-secondary);
}

button.open-sidebar {
  font-size: 1.4rem;
  padding: .2rem .5rem;
  margin: .5rem;
  background-color: white;
  color: var(--clr-primary);
  cursor: pointer;

  border: none;
  ;
}

button.open-sidebar:hover {

  box-shadow: 1px .5px 1px 2.5px rgba(255, 255, 255, 0.568);

}

aside ul {
  padding: 0;
  list-style: none;
}

aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

button.close-sidebar {
  padding: .3rem .8rem;
}

/* images */
img {
  border-radius: .5rem;
}

.col-1 {
  flex: 1 1 5rem;
  min-width: 30rem;

}

.col-2 {
  flex: 2 1 30rem;
  max-width: 40rem;

}

.col-3 {
  flex: 3 1 75rem;
}

.min-30 {
  min-width: 30rem;
}

.pad-1 {
  padding: 1rem;
}

/* Images */
img.small {
  min-width: 10rem;
  max-width: 20rem;
  width: 100%;

}

img.medium {
  max-width: 12rem;
  width: 100%;
  height: 12rem;
  margin: 0 auto;

}

img.large {
  max-width: 20rem;
  width: 100%;
  margin-top: 10px;
}

/* cards */
.card {

  padding: .5rem;
  display: flex;
  justify-content: space-around;
  width: 90vw;
  background-color: white;
}

.border {
  border-top: 0.0063rem solid rgba(128, 128, 128, 0.432);

}

.card-body {

  min-width: 120px;
}

.card h2 {
  font-size: 1rem;
  margin-top: 5px;
}

.card a {
  font-size: 1rem;
  color: rgb(2, 111, 157)
}

.total {
  width: 100%;
  max-width: 60vw;
  float: right;
}

.orderTotal {
  min-width: 300px;
}

.price {
  font-size: 1.5rem;
}

.qty {
  margin: 1rem;
}

.seller-card {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  /* width: 90vw; */
  background-color: white;
}

.seller2-card {

  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.seller-box {
  width: 100%;
}

/* rating */
.rating span {
  font-size: clamp(.5rem, 2vw, 1.6rem);
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #545454;
}

/* Alert */
.loading {
  display: block !important;
}

.success {
  color: #20a020;
}

.error {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: .1rem solid transpartent;
  border-radius: .5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #e0d4d4;
}

.alert-success {
  color: #20a020;
  background-color: #d4ead2;
}

/* Form */

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form>div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;

}

.form input {
  background-color: #e0e4ea;
}

/* #Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 10;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #404040;
  margin: 0.4rem 0 0 0;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Checkout Steps */
.checkout-steps>div {
  border-top: .3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-size: clamp(1rem, 3vw, 2.5rem) !important;
  font-weight: bold;
}

.checkout-steps>div.active {
  border-top-color: var(--clr-secondary);
  color: var(--clr-secondary);
}

/* Table */

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.mobileTable {
  width: 90vw;
  overflow-x: auto;
}


.table tbody tr:nth-of-type(odd) {
  background-color: #e4eaef;
}

.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: .5rem;

}

.table button {
  margin: 0.3rem;
}

.infoId {
  width: 120px;
  /* overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap; */

}


/* Maps */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: .5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}

.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}

.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

/* Pagination */

.pagination a {
  padding: 1rem;
  margin: .5rem;
  border-radius: .5rem;
  border: 0.1rem #dad9d9 solid;
  font-size: 1.6rem;
  font-family: Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dashboard */

.summary>li {
  border: .1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: .5rem;
  flex: 1 1 20rem;
}

.summary-title {
  font-size: 2rem;
  padding: 1rem;
}

.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;

}

.summary-title.color1 {
  background-color: #e3c8c8;
}

.summary-title.color2 {
  background-color: #c4e1c4;
}

.summary-title.color3 {
  background-color: #bdbdda;
}

/* ========================================= */
/* ========================================= */
/* ========================================= */
/* ========================================= */
/* ========================================= */
/* ========================================= */
/* ========================================= */
/* ========================================= */
/* ========================================= */
/* ========================================= */

@media (max-width: 900px) and (min-width: 500px) {
  .search input {
    width: 40vw;
    max-width: 800px;
  }
}

@media (min-width: 900px) {
  main {
    margin-top: 6.5rem;
    padding: 2rem 4rem;
  }

  /* Header */
  header {
    height: 60px;
  }

  header a {
    padding: .5rem;
  }

  .cart {
    margin-right: 1rem;
    font-size: 3rem;
  }

  .canoe {
    width: 50px;
  }



  .badge {
    padding: 0rem 1rem;
    font-size: 2.5rem;
  }

  .navList {
    font-size: 2rem;
    height: 4.5rem;
  }

  /* Search */
  .search button {
    width: 4rem;
  }

  .search input {

    width: 45vw;
    max-width: 900px;
  }

  .fa-search {
    font-size: 2rem;
    margin: -11px 0 0 -10px;
  }

  /* Carousel */

  .carousel .slide img {
    width: 40vw !important;
  }

  .carousel {
    width: 40vw !important;
  }

  .carousel .slide .legend {
    width: 60% !important;
    height: 5rem !important;
    font-size: 22px !important;

  }

  /* Aside */

  aside {
    width: 30rem;
    transform: translateX(-30rem);
    transition: all .5s;
  }

  aside.open {
    transform: translate(0)
  }

  button.open-sidebar {
    font-size: 2.6rem;

  }

  button.close-sidebar {
    padding: .5rem 1rem;
  }


  /* Images */
  img.small {
    max-width: 15rem;
  }

  img.medium {
    max-width: 30rem;
    height: 300px;
    margin-top: 5px;
  }

  img.large {
    max-width: 30rem;
  }

  .row.center {

    flex-direction: row;


  }

  /* ul {

    margin: 0 30px;

  } */

  /* card */
  .card {
    width: 28vw;
    /* height: 350px; */
    flex-direction: column;
    box-shadow: 1px 8px 15px -10px rgba(0, 0, 0, 0.178);
    margin: .1rem;
    padding: 1rem;
  }

  .card img {
    display: block;
    margin: 0 auto;
  }

  .border {
    border: none;
  }

  .card h2 {
    font-size: clamp(1rem, 1.5vw, 2rem);
  }

  .card a {

    font-size: clamp(1rem, 1.5vw, 1.6rem)
  }

  .card-body {
    padding-left: 1.5rem;
    min-width: 1rem;

    /* height: 20vh; */

  }



  .total {

    max-width: 40vw;
  }

  .price {
    margin-right: 10%;
    font-size: clamp(1rem, 1.5vw, 2.5rem)
  }

  /* rating */
  .rating span {
    margin: 0.1rem;
  }

  .rating {
    margin: .5rem 0;
  }

  /* Form */

  .form {
    max-width: 60rem;
    margin: 0 auto;
  }

  .form>div {
    margin: 1rem;
  }

  .form label {
    margin: 1rem 0;

  }

  .form input {
    background-color: #e0e4ea;
  }

  /* #Dropdown */


  .dropdown-content {
    min-width: 14rem;
  }


  /* Table */

  .table button {
    margin: 0.5rem;
  }

  .mobileTable {
    width: 100%;
  }



  /* Maps */
  .full-container {
    margin: -1rem;
    height: calc(100% + 2rem);
  }

  .map-input-box {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: .5rem auto;
    width: 25rem;
    height: 4rem;
    display: flex;
  }

  .map-input-box input {
    border-radius: 1rem 0 0 1rem;
    border-right: 0;
  }

  .map-input-box button {
    border-radius: 0 1rem 1rem 0;
    border-left: 0;
  }

  /* Pagination */

  .pagination a {
    padding: 1rem;
    margin: .5rem;
    border-radius: .5rem;
    border: 0.1rem #dad9d9 solid;
    font-size: 1.6rem;
    font-family: Helvetica,
      Arial,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Dashboard */

  .summary>li {
    border: .1rem #c0c0c0 solid;
    margin: 2rem;
    border-radius: .5rem;
    flex: 1 1 20rem;
  }

  .summary-title {
    font-size: 2rem;
    padding: 1rem;
  }

  .summary-body {
    font-size: 4rem;
    padding: 1rem;
    text-align: center;

  }

  .summary-title.color1 {
    background-color: #e3c8c8;
  }

  .summary-title.color2 {
    background-color: #c4e1c4;
  }

  .summary-title.color3 {
    background-color: #bdbdda;
  }
}